* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.main {
  background-image: url(/img/background\ làm\ mờ.png);
}
:root {
  --primary-color: #3fd0d4;
}
