/* responsive cho header và banner */
/* màn dưới 1080px */
@media (max-width: 1080px) {
  .header__logo {
    width: 20%;
  }
  .banner {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .header__logo {
    width: 20%;
  }
  .header__nav-link {
    font-size: 1.9rem;
  }
  .banner {
    width: 100%;
    margin-bottom: unset;
  }
}
@media (max-width: 480px) {
  .header__logo {
    width: 30%;
    padding-left: 30px;
  }
  .header {
    width: 100%;
  }
  .header__nav-link {
    font-size: 1.7rem;
  }
}
/* -------------------- */
/* responsive cho nav */
@media (max-width: 600px) {
  .header__home {
    justify-content: space-around;
    align-items: center;
  }
  .header__nav-list li:not(:first-child) {
    display: none;
  }
  .header__nav-list {
    display: block;
    float: right;
  }
  .header__nav-list li.icon {
    display: block;
    float: right;
    text-align: right;
  }
}
@media (max-width: 600px) {
  .header__nav-list.responsive {
    position: relative;
  }
  .header__nav-list.responsive .icon {
    position: relative;
    right: 0;
    top: 0;
  }
  .header__nav-list.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
  .header__nav-list.responsive .header__nav-item .header__nav-child-list {
    opacity: 1;
    visibility: visible;
    /* transition: none; */
    margin-left: -50px;
    position: relative;
    background-color: unset;
    left: unset;
    top: unset;
    text-align: unset;
    padding: unset;
    opacity: unset;
    box-shadow: unset;
    border-radius: unset;
  }
  .header__nav-list.responsive .header__nav-child-link {
    color: aliceblue;
    font-size: 1.5rem;
    padding-left: 30px;
  }
}

/* responsive phần middle content cho màn dưới 1080px */
@media (max-width: 1080px) {
  .front {
    width: 85%;
    /* margin: 0 auto; */
    padding: 10px;
    font-size: 17px;
  }
  .front .bold-line {
    font-size: 18px;
  }
  .title-line {
    padding: 5px 0;
    line-height: 130%;
  }
  .A2 .col-2 {
    flex-direction: column;
    /* margin: auto;     */
  }
  .char-image {
    width: 80%;
    margin: auto;
  }
  .A4 .b1 {
    flex-direction: column-reverse;
  }
}
/* dưới 768px */
@media (max-width: 768px) {
  .front {
    width: 95%;
    padding: 10px;
    font-size: 16px;
  }
  .front .bold-line {
    font-size: 17px;
  }
  .title-line {
    padding: 5px 0;
    line-height: normal;
  }
}
/* hết phần middle content */

/* ------------------------- */

/* responsive cho footer */
/* màn dưới 1080px */
@media (max-width: 1080px) {
  footer .foot-container .foot-content {
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .foot-content.about,
  .links,
  .contact {
    width: 47%;
  }
}
/* dưới 768px */
@media (max-width: 768px) {
  footer .foot-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  footer .foot-container .foot-content {
    margin-right: 0;
    margin-bottom: 20px;
  }
  footer .foot-content.about,
  .links,
  .contact {
    width: 47%;
  }
  .header__nav-link:after,
  .header__nav-child-link::after {
    content: unset;
  }
}
/* dưới 480px */
@media (max-width: 480px) {
  footer.foot-container {
    flex-direction: column;
  }
  footer .foot-content.about,
  .links,
  .contact {
    width: 100%;
  }
}
